<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Rufus</vendor>
  <vendor_url>https://rufus.ie</vendor_url>
  <icon_name>drive-removable-media-usb</icon_name>

  <action id="ie.rufus.rufus.run-as-root">
    <_description>Run Rufus (bootable USB writer)</_description>
    <_message>Rufus needs administrator privileges to make changes to storage devices</_message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/env</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
