[Desktop Entry]
Type=Application
Name=Rufus
Name[es]=Rufus
Comment=Create bootable USB drives from ISO/IMG files
Comment[es]=Cree unidades USB de arranque desde archivos ISO/IMG
Exec=pkexec rufus %f
Icon=rufus
Terminal=false
Categories=System;Utility;
MimeType=application/x-iso9660-image;
Keywords=USB;bootable;format;rufus;
